<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Monopoly-Summary</title>
    <!-- <link rel="stylesheet" href="css/stylesheet.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <style media="screen">
      body{
        border:solid black;
        border-width: medium;
        border-radius:10px;
      }
      .dollar::after{
        content: " ($)";
      }
      .odd{
        background-color:#B1A296;
      }
      .even{
        background-color:#7395AE;
      }
      /* div {
        border:solid black;
        border-width: thin;
        border-radius:5px;
        padding:5px;
      } */
      caption{
        caption-side: top;
      }
    </style>
  </head>
  <body class="container">
    <header>
      <h1 class="text-center">Summary</h1>
    </header>
    <form class="" action="{{ url_for('viewSummary') }}" method="post">
      <section class = "col section table-responsive">
        <table class = "table table-lg table-striped table-hover table-bordered center_z">
          <thead class="thead-dark">
            <th>Name</th><th>Net Worth</th><th>Rank</th>
          </thead>
          <tbody>
            {% for user in result %}
            <tr>
              {% for k in user %}
              {% if k == "name" %}
              <td>{{ user[k] }}</td>
              {% endif %}
              {% endfor %}
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <h1 id="netWorth"></h1>
        <div class="pb-3 href">
          <a role="button" class="btn btn-lg btn-primary" href="/" >Play again</a>
        </div>
      </section>
    </form>

    <script src="static/external.js">
    </script>

  </body>
</html>
