body{
  background-color: rgb(255, 255, 0);
  font-family: Corbel, Arial;
}
section{
  background-color: rgb(255, 220, 0);
  border-style: solid;
  font-size: 150%;
}
h1{
  text-align:center;
  background-color: rgb(255, 255, 255);
  font-family: Corbel, Arial;
  font-weight: 900;
}
@media screen and (min-width: 1291px){
  section{
    display: inline-block;
    width: 48%;
    float: left;
  }
  article {
    /*display: inline-block;*/
    width: 48%;
    float: right;
  }
  body{
    padding-left: 10%;
    padding-right: 10%;
  }
}
